<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true">
  <p style="color: #fff;"> Gathering results ... </p>
</ngx-spinner>

<div class="body">
  <div id="reset">
    <button (click)="reset()">
      Start Over
      <mat-icon>replay</mat-icon>
    </button>
  </div>
  <div class="center">
    <h1>Find Your Restaurant</h1>
    
    <div id="query-input">
      <mat-form-field>
        <mat-label>What are you looking for today?</mat-label>
        <input matInput 
          placeholder="Ex. Pizza in Hawaii" 
          value="Sushi" 
          [(ngModel)]="query"
          (keyup.enter)="onEnter()"
        >
      </mat-form-field>
      
      <button class="menu-button" [matMenuTriggerFor]="checkboxMenu">
        <mat-icon>settings</mat-icon>
      </button>
      
      <mat-menu #checkboxMenu>
        <div (click)="$event.stopPropagation()" id="checkbox-filters">
          <p>Additional options <button mat-button (click)="toggleOffCheckboxes()">Reset</button></p>
          <ng-container *ngFor="let key of checkableOptions">
            <mat-checkbox [formControl]="getFormControl(key)"> {{key}} </mat-checkbox>
          </ng-container>
        </div>
      </mat-menu>
    </div>
    
    <div id="search-results" *ngIf="queryResults.length !== 0">
      <div>
        <h2>Recommendations based on "{{latestQuery}}"</h2>
        <ng-container *ngFor="let res of queryResults">
          <restaurant class="result" [restaurant]="res"></restaurant>
        </ng-container>
      </div>

      <button class="menu-button" [matMenuTriggerFor]="sortingMenu">
        <mat-icon>sort</mat-icon>
      </button>
      <mat-menu #sortingMenu>
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-label>Sorting Order</mat-label>
          <mat-select [(value)]="selectedSortingOption">
            <mat-option value="option1">A-Z / Lowest to Highest</mat-option>
            <mat-option value="option2">Z-A / Highest to Lowest</mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngFor="let key of sortingOptions">
          <button mat-menu-item (click)="sortResults(key)">{{key}}</button>
        </ng-container>
      </mat-menu>
    </div>

  </div>
</div>