

.body {
    --default-color: var(whitesmoke);
    --padding-32: 2.25rem;
    --padding-16: 1rem;

    --fs-large: 4rem;     /* 64px */
    --fs-small: 0.875rem; /* 14px */

    font-size: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
    background-color: black;
    color: whitesmoke;
}
.body::before{
    content: ' ';
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    opacity: .5;

    /* Src: https://www.pexels.com/photo/wine-glasses-on-table-tops-941861/ */
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: var(--padding-32);
}

h1 {
    font-family: "Rochester", cursive;
    font-size: var(--fs-large);

    align-self: stretch;
    
    padding: var(--padding-32);

    border-bottom: 1px solid;
}

button, mat-button {
    cursor: pointer;
    
    display: flex;
    align-items: center;
    gap: 2px;

}
.menu-button {
    width: 2.5rem;
    height: 2.5rem;
}

#reset {
    position: absolute; 
    top: 0; 
    right: 0;
}
#reset > button {
    background-color: transparent; 
    color: whitesmoke; 
    

    font-size: inherit; 
    
    margin: var(--padding-16);
    padding: 2px;

    outline: none;
    border: none;
    
    transition: .2s;
}
#reset > button:hover {
    scale: 1.1;
    transition: .2s;
}

#query-input, #search-results {
    width: 50%;
}
#query-input {
    display: flex;
    align-items: baseline;
    gap: var(--padding-16);
}
#query-input mat-form-field {
    flex-grow: 2;
}
#query-input button {
    height: 2.5rem;
    width: 2.5rem;
}

::ng-deep .mat-mdc-menu-content {
    display: flex;
    flex-direction: column;
    gap: 2px;

    padding: 15px !important;
}

#search-results {
    display: flex;
    gap: var(--padding-16);

    max-width: 50%;
    max-height: 50vh;
}
#search-results > div {
    border: 1px solid whitesmoke;
    border-radius: 5px;

    background-color: rgba(0,0,0,0.6);

    padding: var(--padding-16);
    
    overflow-y: auto;

    flex-grow: 2;

    gap: var(--padding-16);
    display: flex;
    flex-direction: column;
}
#search-results h2 {
    overflow-wrap: break-word;
    font-weight: 300;
}

#checkbox-filters {
    max-height: 9.375rem;
    display: flex; 
    flex-direction: column;
}
#checkbox-filters > p {
    display: flex;
    align-items: center;
    gap: .5rem;
}