:host {
    --padding-2: 0.125rem;
    --padding-8: 0.5rem;
}

p {
    display: flex;
    align-items: flex-end;
    gap: var(--padding-2);
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

.meta-data {
    display: flex;
    justify-content: space-between;
    gap: var(--padding-8);
    
    padding: var(--padding-8);

    border-radius: var(--padding-2);

    background-color: whitesmoke;
    color: black;
}

.img-container {
    width: 10.875rem;
    height: 10.875rem;

    border: 1px solid darkgray;
}

.text {
    flex-grow: 2;
}
.text .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

img {
    width: auto;
    height: 100%;

    aspect-ratio: 1; /* will make width equal to height (500px container) */
    object-fit: cover; /* use the one you need */
}

.star-icon {
    color: #d4d42a;
}

table {
    text-align: left;
    border: 1px solid black;
    width: 100%;
    font-size: 14px;
}
td {
    padding: 2px 4px;
    overflow-wrap: anywhere;
}
tr > td:first-child {
    width: 70px;
    background-color: #e0e0e0;
}