<div class="meta-data" *ngIf="restaurant != undefined">
    <div class="img-container">
        <img [src]="restaurant!.Image" alt="">
    </div>
    <div class="text">
        <div class="header">
            <h3>{{restaurant!.Name}}</h3>
            <p>
                {{restaurant.Reviews}}
                <mat-icon class="star-icon" aria-hidden="false" fontIcon="star"></mat-icon>
            </p>
        </div>

        <table>
            <tr *ngFor="let data of metaData">
                <td>{{data[0]}}</td>
                <td>{{data[1]}}</td>
            </tr>
        </table>
    </div>
</div>
